.aerodrome-page
  position: relative
  &:before
    content: ''
    background: url("../img/aerodrome/aerodrome-bg-1.png") no-repeat center center
    position: absolute
    top: 276px
    right: 0px
    width: 631px
    height: 388px


.aerodrome-info
  margin-top: 44px
  min-height: 340px
  .aerodrome-info-block
    .aerodrome-info-row
      color: #000000
      font-size: 16px
      width: 320px
      margin-bottom: 10px
      .aerodrome-info-row__title
        font-family: "Gilroy-Medium"
        float: left
        width: 140px
        position: relative
        padding-left: 20px
        &:before
          content: ''
          position: absolute
          top: 7px
          left: 4px
          background: #000
          width: 4px
          height: 4px
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          border-radius: 50%
      .aerodrome-info-row__value
        font-family: "Gilroy-Regular"
        float: left
        padding-left: 18px


@media only screen and (max-width : 1299px)
  .aerodrome-page
    &:before
      content: ''
      background: url("../img/aerodrome/aerodrome-bg-1.png") no-repeat center center
      position: absolute
      top: 318px
      right: 0px
      width: 400px
      height: 388px
      background-size: 100%
      background-position: 50px 0px
  .aerodrome-info
    margin-left: 24px

@media only screen and (max-width : 767px)
  .aerodrome-page
    &:before
      content: ''
      position: absolute
      top: 520px
      right: 0
      width: 465px
      height: 388px
  .aerodrome-info
    margin-left: 20px
    margin-top: 30px
    min-height: 720px
    .aerodrome-info-block
      .aerodrome-info-row
        width: auto
        font-size: 14px

@media only screen and (max-width : 650px)
  .aerodrome-info
    min-height: 750px


@media only screen and (max-width : 480px)
  .aerodrome-info
    min-height: 650px