/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-banner-nav-next--hover {
  background-image: url(sprite.png);
  background-position: -509px -122px;
  width: 16px;
  height: 26px;
}
.icon-banner-nav-next {
  background-image: url(sprite.png);
  background-position: -509px -188px;
  width: 16px;
  height: 26px;
}
.icon-banner-nav-prev--hover {
  background-image: url(sprite.png);
  background-position: -509px -254px;
  width: 16px;
  height: 26px;
}
.icon-banner-nav-prev {
  background-image: url(sprite.png);
  background-position: -509px -320px;
  width: 16px;
  height: 26px;
}
.icon-categories-item__arrow {
  background-image: url(sprite.png);
  background-position: -570px -338px;
  width: 16px;
  height: 12px;
}
.icon-categories-item__btn--hover {
  background-image: url(sprite.png);
  background-position: -427px -243px;
  width: 36px;
  height: 36px;
}
.icon-categories-item__btn {
  background-image: url(sprite.png);
  background-position: -86px -305px;
  width: 36px;
  height: 36px;
}
.icon-categories-item__icon--goods {
  background-image: url(sprite.png);
  background-position: -427px 0px;
  width: 42px;
  height: 42px;
}
.icon-categories-item__icon--hunters {
  background-image: url(sprite.png);
  background-position: -427px -82px;
  width: 41px;
  height: 41px;
}
.icon-categories-item__icon--photos {
  background-image: url(sprite.png);
  background-position: 0px -305px;
  width: 46px;
  height: 41px;
}
.icon-checkbox__checked {
  background-image: url(sprite.png);
  background-position: -51px -519px;
  width: 9px;
  height: 6px;
}
.icon-contacts-email-icon {
  background-image: url(sprite.png);
  background-position: -349px -459px;
  width: 17px;
  height: 14px;
}
.icon-contacts-logo {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 136px;
  height: 76px;
}
.icon-contacts-phone-icon {
  background-image: url(sprite.png);
  background-position: -60px -459px;
  width: 17px;
  height: 17px;
}
.icon-doc-download__icon {
  background-image: url(sprite.png);
  background-position: -570px 0px;
  width: 16px;
  height: 18px;
}
.icon-docs__icon {
  background-image: url(sprite.png);
  background-position: -570px -114px;
  width: 16px;
  height: 16px;
}
.icon-feedback__icon {
  background-image: url(sprite.png);
  background-position: -129px -116px;
  width: 58px;
  height: 32px;
}
.icon-gallery-nav-next--hover {
  background-image: url(sprite.png);
  background-position: -327px 0px;
  width: 60px;
  height: 60px;
}
.icon-gallery-nav-next {
  background-image: url(sprite.png);
  background-position: -200px -205px;
  width: 60px;
  height: 60px;
}
.icon-gallery-nav-prev--hover {
  background-image: url(sprite.png);
  background-position: -100px -205px;
  width: 60px;
  height: 60px;
}
.icon-gallery-nav-prev {
  background-image: url(sprite.png);
  background-position: 0px -205px;
  width: 60px;
  height: 60px;
}
.icon-home-icon--hover {
  background-image: url(sprite.png);
  background-position: -406px -459px;
  width: 12px;
  height: 12px;
}
.icon-home-icon {
  background-image: url(sprite.png);
  background-position: -570px -448px;
  width: 12px;
  height: 12px;
}
.icon-info-item__icon--flag {
  background-image: url(sprite.png);
  background-position: -415px -386px;
  width: 19px;
  height: 16px;
}
.icon-info-item__icon--t {
  background-image: url(sprite.png);
  background-position: -570px -390px;
  width: 8px;
  height: 18px;
}
.icon-info-item__icon--water {
  background-image: url(sprite.png);
  background-position: -570px -280px;
  width: 12px;
  height: 18px;
}
.icon-language-item__icon--eng {
  background-image: url(sprite.png);
  background-position: -570px -225px;
  width: 15px;
  height: 15px;
}
.icon-language-item__icon--rus {
  background-image: url(sprite.png);
  background-position: -570px -170px;
  width: 15px;
  height: 15px;
}
.icon-logo-mobile {
  background-image: url(sprite.png);
  background-position: -176px 0px;
  width: 111px;
  height: 62px;
}
.icon-menu-btn-close--hover {
  background-image: url(sprite.png);
  background-position: -509px -386px;
  width: 20px;
  height: 20px;
}
.icon-menu-btn-close {
  background-image: url(sprite.png);
  background-position: 0px -459px;
  width: 20px;
  height: 20px;
}
.icon-menu-btn {
  background-image: url(sprite.png);
  background-position: -345px -386px;
  width: 30px;
  height: 18px;
}
.icon-mobile-menu-arrow-dropdown-active {
  background-image: url(sprite.png);
  background-position: 0px -519px;
  width: 11px;
  height: 6px;
}
.icon-mobile-menu-arrow-dropdown {
  background-image: url(sprite.png);
  background-position: -510px -459px;
  width: 11px;
  height: 6px;
}
.icon-more-btn--hover {
  background-image: url(sprite.png);
  background-position: -162px -305px;
  width: 33px;
  height: 33px;
}
.icon-more-btn-arrow {
  background-image: url(sprite.png);
  background-position: -381px -305px;
  width: 6px;
  height: 11px;
}
.icon-more-btn-unactive--hover {
  background-image: url(sprite.png);
  background-position: -235px -305px;
  width: 33px;
  height: 33px;
}
.icon-more-btn-unactive {
  background-image: url(sprite.png);
  background-position: 0px -386px;
  width: 33px;
  height: 33px;
}
.icon-more-btn {
  background-image: url(sprite.png);
  background-position: -308px -305px;
  width: 33px;
  height: 33px;
}
.icon-nav-arrow-next--hover {
  background-image: url(sprite.png);
  background-position: -291px -459px;
  width: 18px;
  height: 14px;
}
.icon-nav-arrow-next {
  background-image: url(sprite.png);
  background-position: -233px -459px;
  width: 18px;
  height: 14px;
}
.icon-nav-arrow-prev--hover {
  background-image: url(sprite.png);
  background-position: -117px -459px;
  width: 18px;
  height: 14px;
}f
.icon-nav-arrow-prev {
  background-image: url(sprite.png);
  background-position: -175px -459px;
  width: 18px;
  height: 14px;
}
.icon-news-list-info__icon {
  background-image: url(sprite.png);
  background-position: -570px -58px;
  width: 16px;
  height: 16px;
}
.icon-news-photo-icon {
  background-image: url(sprite.png);
  background-position: -427px -319px;
  width: 25px;
  height: 25px;
}
.icon-news-video-icon {
  background-image: url(sprite.png);
  background-position: -280px -386px;
  width: 25px;
  height: 25px;
}
.icon-page-section-back__icon {
  background-image: url(sprite.png);
  background-position: -458px -459px;
  width: 12px;
  height: 10px;
}
.icon-page-section-contacts__icon--tea {
  background-image: url(sprite.png);
  background-position: -327px -100px;
  width: 59px;
  height: 59px;
}
.icon-page-section-contacts__icon {
  background-image: url(sprite.png);
  background-position: -327px -199px;
  width: 54px;
  height: 54px;
}
.icon-popup__close__icon {
  background-image: url(sprite.png);
  background-position: -427px -163px;
  width: 40px;
  height: 40px;
}
.icon-popup__envelope__icon {
  background-image: url(sprite.png);
  background-position: 0px -116px;
  width: 89px;
  height: 49px;
}
.icon-social-item--email--hover {
  background-image: url(sprite.png);
  background-position: -227px -116px;
  width: 29px;
  height: 29px;
}
.icon-social-item--email {
  background-image: url(sprite.png);
  background-position: -142px -386px;
  width: 29px;
  height: 29px;
}
.icon-social-item--fb--hover {
  background-image: url(sprite.png);
  background-position: -211px -386px;
  width: 29px;
  height: 29px;
}
.icon-social-item--fb {
  background-image: url(sprite.png);
  background-position: -73px -386px;
  width: 29px;
  height: 29px;
}
.icon-to-top-btn--hover {
  background-image: url(sprite.png);
  background-position: -509px -61px;
  width: 21px;
  height: 21px;
}
.icon-to-top-btn {
  background-image: url(sprite.png);
  background-position: -509px 0px;
  width: 21px;
  height: 21px;
}
